<div class="artist-header">
  <div class="artist-image">
    <% if artist.cover.attached? %>
      <%= image_tag artist.cover %>
    <% end %>
  </div>
  <div class="artist-info">
    <div class="flex items-center">
      <h1 class="text-header-2"><%= artist.name %></h1>
    </div>
    <div>
      <% artist.tags.each do |tag| %>
        <span class="meta"><%= tag %></span>
      <% end %>
    </div>
  </div>
</div>

<hr class="my-4">

<div class="flex">
  <h2 class="mt-4 text-header-2 mr-auto">Popular</h2>
  <%= link_to 'Sea all', artist_path(artist, page: page), data: {"turbo-frame" => "popular_tracks"}, class: "ml-auto self-end text-secondary hover:text-primary transition-colors" %>
</div>

<ul class="tracks mt-2">
  <%= turbo_frame_tag dom_id(artist, :popular_tracks), src: artist_path, loading: :lazy do %>
    <%= render tracks, enqueueble: true %>
  <% end %>

  <li class="track">
    <span class="track--number"></span>
    <a href="#" class="text-secondary hover:text-primary transition-colors">Load more</a>
  </li>
</ul>

<hr class="my-4"/>

<%= render partial: "discography", locals: {artist:, albums:} %>
